* {
    box-sizing: border-box;
}

figure div{
    position: absolute;
}

figure div object{
    padding-bottom: 0;
}

@media screen and (min-width: 1440px){
    figure div{
        width: 500px;
    }

    figure .tablet{
        left: 50%;
        transform: translate(-50%);
    }

    figure .notebook{
        left: 50%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){
    figure div{
        width: 400px;
    }
}
